<div class="row">
  <div class="col-auto">
    <h2>Welcome To Foodsaver!</h2>
    <p>Below is a recipe submited by a user</p>
  </div>
</div>
{{#each recipes as |recipe| }}
<div class="row mb-4 recipe">
  <div class="col-md-5">
    <h3>
      {{{recipe}}}
      <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
    </h3>
    <p>Submited by {{userrecipe.user_name}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{recipe.description}}
    </p>
  </div>
</div>
{{/each}}